<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div style="margin: 40px;">
    <h1><img src="https://ww.namu.la/s/39b3cf78fb7a1bdf35d30b68f1072bf588bd2639011222be4bd2d670cf729b6ec08463e2fbcf310f12b1d4cfef33f9b2ea4bb2a79e241a44a6627783397527f714037f28c597db22bda868cbf70f7608" alt="" width="50" height="50">
      KNU Cyber Edu</h1>
    <div>
      <a href="/login">로그인 하러가기</a>
      <a href="/register">회원가입 하러가기</a>
    </div>
  </div>
  <div>
    <a href="/mypage">My Page</a>
  </div>
</body>
</html>