<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <form method="post" style="
  display: flex;
  flex-direction: column;
">
    <label>
      <a>아이디</a>
      <input
      type="text">
    </label>
    <label>
      <a>비밀번호</a>
      <input
      type="password">
    </label>
    <input type="submit" value="Login">
  </form>
</body>
</html>