<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>My Page</h1>
    <h2><a class="nav-link active" aria-current="page" href="/home">Home</a></h2>

    {% if current_user.user_id != null %}
    <h3 class="nav-link active">
        {{current_user.user_id}}님 반갑습니다.
    </h3>
    <h3 class="nav-item">
        <a class="nav-link active" href="/logout">Logout</a>
    </h3>
    {% else %}
    <h3 class="nav-item">
        <a class="nav-link active" href="/login_register">로그인/회원가입</a>
    </h3>
    {% endif %}



    
</body>

</html>