<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid ;
    border-collapse: collapse;
    border-color : gray;
    text-align: center;

}
th, td {
    padding: 10px;
}
th {
    text-align: center;
}


</style>
</head>
<body>
<div style="margin: 40px;">
  <h1>OO의 My Page</h1>
</div>

<div>
  <h3><a href="/hw_submit">과제 제출</a> </h3>
  <h3><a href="/hw_register">과제 등록</a> </h3>
</div>

<div>
  <h3><a href="/subj_subscribe">수업 생성</a> </h3>
  <h3><a href="/subj_register">강의 신청</a> </h3>
</div>

<div  style="position: absolute; left: 500px; top: 250px;">
 <table style="width:800px ; height:500px ; border-radius : 16px">
  <caption><font size="4em" color = "#808283">OO의 p-edu 수업 시간표</font></caption>
 
   <tr bgcolor = #fcfcfc>
     <th> </th>
     <th><font color = "gray">Mon</font></th>
     <th><font color = "gray">Tue</font></th>
     <th><font color = "gray">Wed</font></th>
     <th><font color = "gray">Thu</font></th>
     <th><font color = "gray">Fri</font></th>
   </tr>
   <tr bgcolor=#fcfcfc>
     <th><font color = "gray">1</font></th>
     <td style = "background : #f9e1f9  ;"><font color = "#555557"><a href="https://jitsi.o-r.kr/subj1">일정 1</a></font></td>
     <td> </td>
     <td style = "background : #d4e8bf ;"rowspan="2"><font color = "#555557">과목 2</font></td>
     <td style = "background : #bfdae8 ;" rowspan="2"><font color = "#555557">과목 3</font></td>
     <td style = "background : #bfc3e8;" rowspan="2"><font color = "#555557">과목 4</font></td>
   </tr>
     <tr bgcolor=#fcfcfc>
     <th><font color = "gray">2</font></th>
     <td> </td>
     <td> </td>
   </tr>
     <tr bgcolor=#fcfcfc>
     <th><font color = "gray">3</font></th>
     <td> </td>
     <td> </td>
     <td style = "background : #bfc3e8  ;" rowspan="2"><font color = "#555557">과목 4</font></td>
     <td style = "background : #e8bfcc;" rowspan="2"><font color = "#555557">과목 5</font></td>
     <td> </td>
   </tr>
    <tr bgcolor=#fcfcfc>
     <th><font color = "gray">4</font></th>
     <td> </td>
     <td> </td>
     <td> </td>
   </tr>
    <tr bgcolor=#fcfcfc>
     <th><font color = "gray">5</font></th>
     <td style = "background : #dad9a9  ;" rowspan="2"><font color = "#555557">과목 6</font></td>
     <td style = "background : #e9e9dc  ;" rowspan="4"><font color = "#555557">과목 7</font></td>
     <td style = "background : #e7dce9  ;" rowspan="4"><font color = "#555557">과목 8</font></td>
     <td style = "background : #bce5dd   ;" rowspan="4"><font color = "#555557">과목 9</font></td>
     <td> </td>
   </tr>
    <tr bgcolor=#fcfcfc>
     <th><font color = "gray">6</font></th>
     <td> </td>
   </tr>
    <tr bgcolor=#fcfcfc>
     <th><font color = "gray">7</font></th>
     <td> </td>
     <td> </td>
   </tr>
   <tr bgcolor=#fcfcfc>
    <th><font color = "gray">8</font></th>
    <td style = "background : #f0d0d0;"><font color = "#555557">과목 10</font></td>
    <td> </td>
   </tr>

 </table>
</div>

</body>
</html>