<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" style="
    display: flex;
    flex-direction: column;
  ">
    <label>
      <a>이메일</a>
      <input type="email">
    </label>
    <label>
      <a>비밀번호</a>
      <input type="password">
    </label>
    <label>
      <a>비밀번호 재확인</a>
      <input type="password">
    </label>
    <label>
      <a>이름</a>
      <input type="text">
    </label>
    <label>
      <a>전화번호 (선택)</a>
      <input type="tel">
    </label>
    <label>
      <a>기관 명</a>
      <input type="text">
    </label>
    <label>
      <a>선생님의 경우에만 Check</a>
      <input type="checkbox">
    </label>
    <input type="submit" value="가입하기">
  </form>
</body>
</html>