<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" style="
    display: flex;
    flex-direction: column;"id="register" action="/set_register">
    <label>
      <a>이메일</a>
      <input type="email" name="user_id" id="user_id">
    </label>
    <label>
      <a>비밀번호</a>
      <input type="password" name="password" id="password">
    </label>
    <label>
      <a>이름</a>
      <input type="text" name="user_name" id="user_name">
    </label>
    <label>
      <a>전화번호</a>
      <input type="tel" name="tele" id="tel">
    </label>
    <label>
      <a>기관 명</a>
      <input type="text" name="belong" id="belong">
    </label>
        <input type="submit" value="가입하기">
  </form>
</body>
</html>